* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: rgb(134, 0, 0);
}

body {
    min-height: 100vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(18, 0, 0, 1) 50%, rgb(54, 0, 0) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

input, select, option{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border: 2px solid rgb(134, 0, 0);
    outline: none;
    padding: 5px;
}

input[type="number"], input[type="text"]{
    border-radius: 5px;
}

h2{
    text-align: center;
    margin: 50px 0px 10px;
    color: white;
}

h5{
    font-size: 1.1rem;
}

header {
    display: flex;
    justify-content: center;
    padding: 50px 0px 30px;
    color: white;
}

header i {
    margin-top: 13px;
}

header * {
    font-size: 3rem;
    margin: 0 7.5px;
}

main {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.container {
    box-shadow: 5px 5px 10px 0px black;
    background-color: white;
}

.container1{
    border-radius: 7px;
    padding: 20px 100px;
}

.container1 .row{
    display: flex;
    justify-content: center;
}

.container1 .col{
    width: calc(100%/3);
    margin: 0px 30px;
    text-align: center;
}

.buttons{
    margin-top: 30px;
}

.buttons input{
    color:rgb(134, 0, 0);
    font-weight: 800;
    margin: 0px 7px;
    border-radius: 5px;
    cursor: pointer;
}

.container2{
    padding: 15px 15px 0px;
    color: black;
}

.container2 .col-4{
    width: 225px;
    height: 124px;
    background-color: gray;
    display: inline-block;
    padding: 15px;
}

.container2 .col-8{
    width: calc(100% - 230px);
    display: inline-block;
    border: 1px solid gray;
    border-right: none;
    transform: translate(-5px, -36px);
}

.info-container{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.info-container p{
    font-size: 0.8rem;
}

.info-container p.bold{
    font-weight: bold;
    margin-bottom: 50px;
}

.your-ticket{
    display: none;
}

.price {
    font-size: 1.5rem;
    display: none;
}

#total {
    float: right;
}